#upperrow {
        padding-top: 0.7%;
}

#upperrow > p {
        display: inline;
        font-family: Arial, SANS-SERIF;
        font-size: 13px;
}

#upperrow > p:hover {
        text-decoration: underline;
}


#about {
        padding-left: 0.8%;
} 

#store {
        padding-left: 0.6%;
}

#gmail {
        padding-left: 79%;
}


#images {	
        padding-left: 0.6%;
}

#apps {
        padding-left: 0.6%;
        padding-right: 0.6%;
}

#sign-in {
        padding-left: 0.6%;
        padding-right: 0.6%;
        padding-top: 0.25%;
        padding-bottom: 0.25%;
        color: white;
        font-weight: bold;
        border-style: solid;
        border-color: #4285f4;
        border-radius: 2.5px;
        background: #4285f4;
}

#heading {
	display: inline;
}

#rps {
	position: absolute;
	font-family: 'Product Sans';
	font-weight: 300;
	font-size: 70px;
	color: #707474;
	left: 40.2%
}

@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

#logo {
	position: absolute;	
	width: 15%;
	left: 24.3%;
	top: 14.35%;
}

.progress {
	border-style: solid;
	border-width: 1px;
	border-radius: 30px;
	border-color: #dfe1e5;
	position: absolute;
	left: 43%;
	top: 27%;
	padding: 1.4%;
	padding-top: 3.1%;
	width: 30%;
	height: 50%;
}

.newLine {
	font-family: Arial, SANS-SERIF;
}

.move {
	font-family: Arial, SANS-SERIF;
	font-weight: bold;
	color: #ffffff;	
	border-style: solid;
	border-color: #4285f4;
	border-radius: 40px;
	padding: 10px;
	background-color: #4285f4;
	width: 5%;
	position: absolute;
	left: 31%;
}

.move:hover {
	box-shadow: 0px 0px 5px 0.01px #2d60f0;
}

.move:focus {
	outline-style: none;
}

#rock {
	top: 40%;
}

#paper {
	top: 47.5%;
}

#scissors {
	top: 55%;
}

#new {
	top: 67.5%;
	left: 30.05%;
	color: #5f6368;
        border-style: solid;
        border-color: #f4f4f4;
        background-color: #f4f4f4;
	border-style: solid;
	border-radius: 10px;
	width: 7%
}

#new:hover {
        color: black;
        border-width: 0.5px;
        border-color: #c6c6c6;
        box-shadow: 0px 1px 5px 0.01px #d4d4d4;
}

#scoreBoard {
	font-family: Arial, SANS-SERIF;
	font-size: 35px;
	font-weight: bold;
	position: absolute;
	top: 25%;
	left: 25.8%
}

#roundDisplay {
	font-family: Arial, SANS-SERIF;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	top: 27.1%;
	left: 44.3%;
	text-align: center;
}

#lowerrow {
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        height: 40px;
        background-color: #f2f2f2;
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #e4e4e4;
}

.lowerrow-buttons {
        position: absolute;
        font-family: Arial, SANS-SERIF;
        font-size: 14px;
        color: #5f6368;
        bottom: 0px;
}

.lowerrow-buttons:hover {
        text-decoration: underline;
}


#advertising {
        left: 30px;

}

#business {
        left: 125px;
}

#works {
        left: 208px;
}

#privacy {
        right: 175px;
}

#terms {
        right: 110px;
}

#settings {
        right: 30px;
}

